body {
  /*font-family: 'Oswald', sans-serif;*/
  /*font-family: 'Fjalla One', sans-serif;*/
  background-color: #001f3f;
  font-family: 'Arsenal', sans-serif;
  max-width: 100%;
   overflow-x: hidden;
}

i, #Username{
display: inline;
}

.card {
  width:32%;
  float:right;
}
 p {
   font-size: 20px;
 }
.display-4{
  color: #003366;
  font-weight: normal;
}
#signin {
  font-size: 15px;
}
.btn {
  font-weight: bold;
  width:97%;

}
input[type="text"],input[type="email"],input[type="password"],input[type="tel"],select,
select.form-group {
  background: transparent;
  border: none;
  border-bottom: 1px solid gray;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus,input[type="tel"]:focus,imp
select.form-group:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid red;
}

#branch {
  background: transparent;
  border: none;
  border-bottom: 1px solid gray;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

#branch:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid red;
}
 #Username {
   background-color: ;
 }
#errorp, #erroru, #errorc{
  color: red;
}
